<div id="total-content-container">
  <div id="header">
    Values
  </div>
  <mat-list>
    <mat-list-item> Temperature: {{ Temperature }} </mat-list-item>
    <mat-list-item> Moisture: {{ Moisture }} </mat-list-item>
    <mat-list-item> Fertilizer: {{ Fertilizer }} </mat-list-item>
    <mat-list-item> Oxygen: {{ Oxygen }} </mat-list-item>
    <mat-list-item> Light: {{ Light }} </mat-list-item>
  </mat-list>
  <button mat-raised-button id="save-button" (click)="onCloseClick()">
    Close
  </button>
</div>
