<div id="total-content-container">
  <div id="header">
    Enter Desired Levels
  </div>
  <mat-form-field id="moisture-input-field" class="input-field">
    <mat-label>Moisture Percentage</mat-label>
    <input matInput type="text" [(ngModel)]="moisture" />
    <button
      mat-button
      *ngIf="moisture"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="moisture = 0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field id="temperature-input-field" class="input-field">
    <mat-label>Temperature Percentage</mat-label>
    <input matInput type="text" [(ngModel)]="temperature" />
    <button
      mat-button
      *ngIf="temperature"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="temperature = 0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field id="oxygen-input-field" class="input-field">
    <mat-label>Oxygen Percentage</mat-label>
    <input matInput type="text" [(ngModel)]="oxygen" />
    <button
      mat-button
      *ngIf="oxygen"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="oxygen = 0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field id="fertilizer-input-field" class="input-field">
    <mat-label>Fertilizer Percentage</mat-label>
    <input matInput type="text" [(ngModel)]="fertilizer" />
    <button
      mat-button
      *ngIf="fertilizer"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="fertilizer = 0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field id="light-input-field" class="input-field">
    <mat-label>Light Intensity</mat-label>
    <input matInput type="text" [(ngModel)]="light" />
    <button
      mat-button
      *ngIf="light"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="light = 0"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button id="save-button" (click)="onSaveClick()">
    Save
  </button>
</div>
