#main-content-container {
  width: 100%;
  height: 100%;
  background-image: url("../assets/background_updated.png");
  background-size: cover;
  text-align: center;
}

#main-header {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 2vw;
  font-family: Arial;
}

#test-cases-card {
  position: fixed;
  bottom: 0;
  right: calc(50% - 336px);
}

.test-case-button {
  width: 200px;
  margin-right: 20px;
  background-color: #70885d;
}

.test-case-button:last-of-type {
  margin-right: 0;
}

.switchable-off {
  opacity: 0.5;
}

#inputs-container {
  padding: 20px;
}

#inputs-header {
  margin-bottom: 10px;
}

#diagram-container {
  text-align: center;
}

.input-field {
  margin-right: calc((100% - 605px) / 4);
}

.input-field:last-of-type {
  margin-right: 0;
}

::ng-deep .input-field .mat-form-field-infix {
  width: 100px !important;
}

#input-lines-container,
#output-lines-container {
  padding: 0 40px;
}

.input-line,
.output-line {
  float: left;
  position: relative;
  margin-right: calc((100% - 5px) / 4);
  width: 1px;
  height: 120px;
  background-color: #545454;
}

.input-line::after,
.output-line::after {
  position: absolute;
  top: calc(100% - 5px);
  left: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #545454;
  content: " ";
}

.input-line:last-of-type,
.output-line:last-of-type {
  margin: 0;
}

.output-line-icon {
  position: absolute;
  top: calc(100% + 10px);
  left: -11px;
}

#diagram-wrapping-card {
  width: 50vw;
  display: inline-block;
  height: 660px;
  text-align: left;
  padding: 60px;
}

#power-button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #97bf8c;
}

#power-icon,
#admin-icon {
  font-size: 30px;
  line-height: 14px;
  width: 28px;
}

#diagram {
  display: inline-block;
  width: 100%;
  height: 20vh;
  padding: 0;
}

#diagram-wrapper {
  display: inline-block;
}

#diagram-inner-container {
  display: table;
  width: 100%;
}

#diagram-inner-wrapper {
  display: table-row;
}

.diagram-partial-content {
  display: table-cell;
}

#diagram-center-content {
  width: 40vw;
}

#diagram-card-content {
  display: table;
  width: 100%;
  height: 100%;
}

#diagram-content-container {
  display: table-row;
  width: 100%;
}

#diagram-content-wrapper {
  display: table-cell;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

#diagram-right-side-content {
  position: relative;
}

#side-outputs-container {
  position: absolute;
  top: 247px;
  left: 0;
  width: 240px;
  height: 20vh;
  padding: 40px 0;
}

.input-output-container {
  display: inline-block;
}

.input-line-icon {
  color: #97bf8c;
}

.input-line-icon.input-on,
.output-line-icon.input-on {
  color: #008037;
}

.input-line.input-on,
.output-line.input-on {
  background-color: #008037;
}

.input-line.input-on::after,
.output-line.input-on::after {
  border-top: 5px solid #008037;
}

.input-line-icon.critical {
  color: #ff5757;
}

.input-line.critical {
  background-color: #ff5757;
}

.input-line.critical::after,
.output-line.critical::after {
  border-top: 5px solid #ff5757;
}

.side-component {
  display: inline-block;
  float: left;
}

.side-input-output {
  position: relative;
  margin-top: 16px;
  margin-right: 10px;
  width: 200px;
  height: 1px;
  background-color: #545454;
}

.side-input::before {
  position: absolute;
  top: calc(100% - 5px);
  left: -4px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #545454;
  border-top: 5px solid transparent;
  content: " ";
}

.side-output::after {
  position: absolute;
  top: calc(100% - 5px);
  right: -4px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #545454;
  border-top: 5px solid transparent;
  content: " ";
}

#admin-inpupt-container {
  position: relative;
}

#admin-icon-wrapping-button,
#monitor-icon-wrapping-button {
  position: absolute;
  background-color: #97bf8c;
  color: #fff !important;
  right: -34px;
  width: 40px;
  height: 40px;
}

#monitor-icon-wrapping-button {
  right: -3px;
}

#admin-icon,
#monitor-icon {
  color: #fff;
  font-size: 20px;
  width: 20px;
  height: 1px;
  line-height: 0px;
}

.intermediate-connection {
  position: relative;
  margin-top: 20px;
  height: 88px;
  background-color: #545454;
  padding-left: 224px;
  padding-right: 15px;
  background-clip: content-box;
}

.intermediate-connection-downwards::after {
  position: absolute;
  top: calc(100% - 5px);
  left: 219px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  content: " ";
}

#server-icon {
  color: #97bf8c;
  font-size: 100px;
  width: unset;
  height: unset;
}

.diagram-icon,
.output-line-icon {
  color: #97bf8c;
}
