<div id="main-content-container">
  <div id="main-header">
    <img id="header" src="../assets/Auto-irrigation.png" />
  </div>
  <mat-card id="test-cases-card" class="mat-elevation-z7">
    <mat-card-content>
      <button
        mat-raised-button
        class="test-case-button"
        color="primary"
        (click)="experiment1Action()"
      >
        Experiment 1
      </button>
      <button
        mat-raised-button
        class="test-case-button"
        color="primary"
        (click)="experiment2Action()"
      >
        Experiment 2
      </button>
      <button
        mat-raised-button
        class="test-case-button"
        color="primary"
        (click)="experiment3Action()"
      >
        Experiment 3
      </button>
    </mat-card-content>
  </mat-card>
  <div id="diagram-container">
    <mat-card id="diagram-wrapping-card">
      <button
        id="power-button"
        [ngClass]="{ 'switchable-off': !switch }"
        mat-fab
        color="primary"
        (click)="switch.togglePower()"
      >
        <mat-icon id="power-icon" class="mdi mdi-power power-on"></mat-icon>
      </button>
      <div id="diagram-wrapper">
        <div id="diagram-inner-container">
          <div id="diagram-inner-wrapper">
            <div id="diagram-center-content" class="diagram-partial-content">
              <div id="inputs-container">
                <mat-form-field
                  id="moisture-input-field"
                  class="input-field"
                  [ngClass]="{ 'switchable-off': !switch }"
                >
                  <mat-label>Moisture Percentage</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="systemValues.Moisture"
                  />
                  <button
                    mat-button
                    *ngIf="systemValues.Moisture"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="systemValues.Moisture = 0"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field
                  id="temperature-input-field"
                  class="input-field"
                  [ngClass]="{ 'switchable-off': !switch }"
                >
                  <mat-label>Temperature Percentage</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="systemValues.Temperature"
                  />
                  <button
                    mat-button
                    *ngIf="systemValues.Temperature"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="systemValues.Temperature = 0"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field
                  id="oxygen-input-field"
                  class="input-field"
                  [ngClass]="{ 'switchable-off': !switch }"
                >
                  <mat-label>Oxygen Percentage</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="systemValues.Oxygen"
                  />
                  <button
                    mat-button
                    *ngIf="systemValues.Oxygen"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="systemValues.Oxygen = 0"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field
                  id="fertilizer-input-field"
                  class="input-field"
                  [ngClass]="{ 'switchable-off': !switch }"
                >
                  <mat-label>Fertilizer Percentage</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="systemValues.Fertilizer"
                  />
                  <button
                    mat-button
                    *ngIf="systemValues.Fertilizer"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="systemValues.Fertilizer = 0"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field
                  id="moisture-input-field"
                  class="input-field"
                  [ngClass]="{ 'switchable-off': !switch }"
                >
                  <mat-label>Light Intensity</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="systemValues.Light"
                  />
                  <button
                    mat-button
                    *ngIf="systemValues.Light"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="systemValues.Light = 0"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div id="input-lines-container">
                <div
                  id="water-input"
                  class="input-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': switch.Power,
                    critical: systemValues.Moisture == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-water input-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': switch.Power,
                      critical: systemValues.Moisture == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="temperature-input"
                  class="input-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': switch.Power,
                    critical: systemValues.Temperature == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-thermometer-lines input-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': switch.Power,
                      critical: systemValues.Temperature == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="oxygen-input"
                  class="input-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': switch.Power,
                    critical: systemValues.Oxygen == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-air-conditioner input-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': switch.Power,
                      critical: systemValues.Oxygen == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="fetilizer-input"
                  class="input-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': switch.Power,
                    critical: systemValues.Fertilizer == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-flower input-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': switch.Power,
                      critical: systemValues.Fertilizer == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="light-input"
                  class="input-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': switch.Power,
                    critical: systemValues.Light == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-car-light-high input-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': switch.Power,
                      critical: systemValues.Light == 0
                    }"
                  >
                  </mat-icon>
                </div>
              </div>
              <mat-card id="diagram" class="mat-elevation-z3">
                <mat-card-content id="diagram-card-content">
                  <div id="diagram-content-container">
                    <div id="diagram-content-wrapper">
                      <mat-icon
                        id="server-icon"
                        class="mdi mdi-laptop-mac"
                        [ngClass]="{ 'switchable-off': !switch.Power }"
                      ></mat-icon>
                      <div
                        id="server-icon-label"
                        [ngClass]="{ 'switchable-off': !switch.Power }"
                      >
                        Server
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              <div id="output-lines-container">
                <div
                  id="water-input"
                  class="output-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': systemValues.Moisture == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-water-pump output-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': systemValues.Moisture == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="temperature-input"
                  class="output-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': systemValues.Temperature == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-patio-heater output-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': systemValues.Temperature == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="oxygen-input"
                  class="output-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': systemValues.Oxygen == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-fan output-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': systemValues.Oxygen == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="fetilizer-input"
                  class="output-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': systemValues.Fertilizer == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-shaker-outline output-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': systemValues.Fertilizer == 0
                    }"
                  >
                  </mat-icon>
                </div>
                <div
                  id="light-input"
                  class="output-line"
                  [ngClass]="{
                    'switchable-off': !switch.Power,
                    'input-on': systemValues.Light == 0
                  }"
                >
                  <mat-icon
                    class="mdi mdi-alarm-light-outline output-line-icon"
                    [ngClass]="{
                      'switchable-off': !switch.Power,
                      'input-on': systemValues.Light == 0
                    }"
                  >
                  </mat-icon>
                </div>
              </div>
            </div>
            <div
              id="diagram-right-side-content"
              class="diagram-partial-content"
            >
              <div id="side-outputs-container">
                <div
                  id="monitor-output-container"
                  class="input-output-container"
                >
                  <div
                    id="monitor-output"
                    class="side-input-output"
                    class="side-component side-input-output side-output"
                    [ngClass]="{ 'switchable-off': !switch.Power }"
                  ></div>
                  <button
                    mat-fab
                    id="monitor-icon-wrapping-button"
                    [ngClass]="{ 'switchable-off': !switch.Power }"
                    (click)="openMonitorDialog()"
                  >
                    <mat-icon
                      id="monitor-icon"
                      class="mdi mdi-monitor side-component diagram-icon"
                      [ngClass]="{ 'switchable-off': !switch.Power }"
                    >
                    </mat-icon>
                  </button>
                </div>
                <div
                  id="monitor-admin-intermediate-connection"
                  class="intermediate-connection intermediate-connection-downwards"
                  [ngClass]="{ 'switchable-off': !switch.Power }"
                ></div>
                <div id="admin-inpupt-container" class="input-output-container">
                  <div
                    id="admin-input"
                    class="side-input-output"
                    class="side-component side-input-output side-input"
                    [ngClass]="{ 'switchable-off': !switch.Power }"
                  ></div>
                  <button
                    mat-fab
                    id="admin-icon-wrapping-button"
                    [ngClass]="{ 'switchable-off': !switch.Power }"
                    (click)="openAdminDialog()"
                  >
                    <mat-icon
                      id="admin-icon"
                      class="mdi mdi-account side-component diagram-icon"
                      [ngClass]="{ 'switchable-off': !switch.Power }"
                    >
                    </mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
